<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nicole Araya">
    <title>{% block title %}Tv-Shows{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/673ca7c6b8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap&effect=3d|neon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Philosopher:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/673ca7c6b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    {% block estilos%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
  </head>
  <body>
    <div class="wrapped">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-muted rounded ms-2 pt-2">
        <div class="container-fluid">
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand">TV-Shows</a>
          <div class="navbar-collapse collapse fs-4 ps-3" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-link active" aria-current="page" href="/shows"><i class="fas fa-home"></i> HOME</a>
              <li class="nav-item">
                <a class="nav-link" href="/shows/create">New</a>
              </li>    
            </ul>
          </div>
          <div class="d-flex align-items-center fs-4" id="menu_userw">
            <div class="dropdown ">
              <a class=" nav-link btn-none dropdown-toggle text-light" role="button" id="menu_user" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome {{request.session.user.name}}!
              </a>
              <ul class="dropdown-menu bg-transparent" aria-labelledby="menu_user">
                <li class="bg-secondary nav-item"><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>        
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid justify-content-center mt-3 " id="contenedor">
      {% block btn%}
      {% endblock %}
      <h1 class="fs-1">{% block titulo%} {% endblock %}</h1>
      {% block content%}
      {% endblock %}
    </div>
    {% block js %}
      <script>
        // Acá se muestran los Toastr's
        $(document).ready(function onDocumentReady() {
          {% if messages %}
          {% for message in messages %}
            toastr.{{message.tags}}("{{message}}");
          {% endfor %}
          {% endif %}
        });


      </script>
    {% endblock %}
  </body>
</html>

